# environment
EXPO_PUBLIC_APP_ENV=development
# allowed values: development | staging | production

# API URLs
EXPO_PUBLIC_ERP_API_URL=https://erp.athena-logistics.com:8080/
EXPO_PUBLIC_AI_API_URL=https://sailwithcrm-athena.reportqube.com/api
